<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" xmlns:android = "http://schemas.android.com/apk/res/android" id = "com.koein.awalan" version = "1.0"  ios-CFBundleVersion="1" android-versionCode="100">


    <name>Awalan</name>
    <description>Awalan</description>
    <author href="http://www.koein.com" email="apps@koein.com">koein</author>
    <access origin="*" subdomains="true" />
    <allow-intent href="*" />
    <allow-navigation href="http://localhost:*/*" />
    <!--<content src="http://localhost:12344" />-->


   <icon src="icon-128.png" width="128" height="128" />
    <icon src="icon-256.png" width="256" height="256" role="default" />
	<icon src="icon-1024.png" width="1024" height="1024" />
    <platform name="ios">
        <!-- iPhone Plus  -->
        <icon src="icons/ios/icon-60@3x.png" width="180" height="180" />
		<icon src="icons/ios/icon-29@3x.png" width="87" height="87" />
        <!-- iPhone / iPod Touch  -->
        <icon src="icons/ios/icon-60.png" width="60" height="60" />
        <icon src="icons/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="icons/ios/icon-76.png" width="76" height="76" />
        <icon src="icons/ios/icon-76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="icons/ios/icon-40.png" width="40" height="40" />
        <icon src="icons/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="icons/ios/icon.png" width="57" height="57" />
        <icon src="icons/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="icons/ios/icon-72.png" width="72" height="72" />
        <icon src="icons/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="icons/ios/icon-167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="icons/ios/icon-small.png" width="29" height="29" />
        <icon src="icons/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="icons/ios/icon-50.png" width="50" height="50" />
        <icon src="icons/ios/icon-50@2x.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="icons/ios/icon-83.5@2x.png" width="167" height="167" />
    </platform>


    <!-- Android -->
    <icon src="icons/android/ldpi.png" platform="android" density="ldpi" />
    <icon src="icons/android/mdpi.png" platform="android" density="mdpi" />
    <icon src="icons/android/hdpi.png" platform="android" density="hdpi" />
    <icon src="icons/android/xhdpi.png" platform="android" density="xhdpi" />
    <icon src="icons/android/xxhdpi.png" platform="android" density="xxhdpi" />
    <icon src="icons/android/xxxhdpi.png" platform="android" density="xxxhdpi" />

    <!--PREFERENCES-->
<!--<preference name='phonegap-version' value='cli-7.0.1' />-->
    <platform name="ios">
        

    </platform>
    <platform name="android">
        <!--<preference name="phonegap-version" value="5.2.1" />-->
    </platform>


    <preference name="deployment-target" value="9.0" />
    <preference name="android-minSdkVersion" value="19"/>
    <preference name="android-targetSdkVersion" value="26"/>
    <preference name="android-build-tool" value="gradle" />
    <preference name="detect-data-types" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="no" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="OpenAllWhitelistURLsInWebView" value="yes" />
    <preference name="ExternalHosts" value="*.youtube.com,*.ytimg.com" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="loadUrlTimeoutValue" value="70000" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="android-windowSoftInputMode" value="stateUnchanged|adjustResize" />
     <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="target-device" value="handset" />
	<!--<preference name="OverrideUserAgent" value="koeinapp" />-->


    <!--DEVICE FEATURES ACCESS-->
    <feature name="http://api.phonegap.com/1.0/network"/>
	<preference name='phonegap-version' value='cli-8.0.0' />
    <!--SPLASH SCREENS-->
    <platform name="ios">
        <splash src="splash/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="splash/ios/Default@2x~iphone.png" width="640" height="960"/>
        <!-- <splash src="splash/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="splash/ios/Default-Landscape~ipad.png" width="1024" height="768"/> -->
        <splash src="splash/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="splash/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="splash/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="splash/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    </platform>

    <platform name="android">
        <splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
        <splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
        <splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
        <splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
        <splash src="splash/android/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
        <splash src="splash/android/xxxhdpi.png" gap:platform="android" gap:density="xxxhdpi" />
    </platform>

    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="1" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="1" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#ffffff"/>

    <!--WKWEBVIEW-->
<feature name="CDVWKWebViewEngine">
  <param name="ios-package" value="CDVWKWebViewEngine" />
</feature>

<preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
<plugin spec="https://github.com/nieok/cordova-plugin-wkwebview-engine.git"/> 
<!--    <gap:plugin name="cocoon-cordova-labs-local-webserver" source="npm" />
<gap:plugin name="cordova-plugin-wkwebview-engine-nextgen" source="npm" />-->
<!--https://github.com/apache/cordova-plugin-wkwebview-engine-->
<preference name="AllowBackForwardNavigationGestures" value="true" />	
<preference name="ScrollEnabled" value="true" />


    <!--PLUGINS-->


    <gap:plugin name="cordova-plugin-device" source="npm"/>
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>


    <!-- START: Push Notifications -->
    <!-- <plugin spec="https://github.com/nieok/cordova-plugin-firebase1.git#leroyal" /> -->
    <!-- END: Push Notifications -->


    <!--<gap:plugin name="koein-zwz-cordova-plugin-firebase" source="npm" />-->  
    
    <plugin spec="https://github.com/pgerov/Cordova-OverAppBrowser.git" />
	<plugin spec="https://github.com/videmort/NativePageTransitions.git" />
    <!--<plugin spec="https://github.com/Telerik-Verified-Plugins/NativePageTransitions.git" />-->
    
    <!--<plugin spec="https://github.com/chemerisuk/cordova-plugin-firebase-analytics.git" />-->
    <!--<plugin spec="https://github.com/phonegap/phonegap-plugin-push.git" >
    <param name="SENDER_ID" value="802667392552" />
  </plugin>-->



    <gap:plugin name="cordova-plugin-statusbar" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />

    <gap:plugin name="cordova-plugin-app-version" source="npm"  />
    <gap:plugin name="cordova-plugin-dialogs" source="npm"/>
    <gap:plugin name="cordova-plugin-webviewcolor" source="npm" />
    <gap:plugin name="cordova-plugin-geolocation" source="npm"  spec="2.4.3"/>
<preference name="StatusBarBackgroundColor" value="#c80750" />

    <plugin name="cordova-plugin-network-information" source="npm" spec="&gt;1.0.0" />

    <plugin name="cordova-pdf-generator" source="npm" />


    <gap:plugin name="cordova-plugin-app-preferences" source="npm" />
    <!--<gap:plugin name="cordova-plugin-facebook4" source="npm">
        <param name="APP_ID" value="1401717139845063" />
        <param name="APP_NAME" value="Mobi Reseller" />
    </gap:plugin>-->

    <gap:plugin name="cordova.plugins.diagnostic" source="npm" spec="3.1.0" />

    <!-- <gap:plugin name="cordova-plugin-facebook4" source="npm" spec="1.7.4">
        <param name="APP_ID" value="319108068493877" />
        <param name="APP_NAME" value="LeRoyal" />
    </gap:plugin> -->

    <!-- START: Pictures and files Uploader-->
        <gap:plugin name="cordova-plugin-camera" version="2.4.1" source="npm" />
        <gap:plugin name="cordova-plugin-filepath" version="1.0.2" source="npm" />
        <gap:plugin name="cordova-plugin-file-transfer" version="1.6.3" source="npm" />
    <!-- END: Pictures and files Uploader-->

    <!-- START: Custom Url for Email -->
        <gap:plugin name="cordova-plugin-customurlscheme" source="npm">
            <param name="URL_SCHEME" value="awalanapp" />
        </gap:plugin>
    <!-- END: Custom Url for Email -->

    <!-- START: Intercom: Live Chat -->
        <!-- <gap:plugin name="cordova-plugin-intercom" version="3.2.1" source="npm"/>   -->
        <!--version="~3.2" -->
        <!-- <preference name="intercom-app-id" value="o60vkakd"></preference>
        <preference name="intercom-ios-api-key" value="ios_sdk-2cce47d42e21f6ce634d16469822057db869238e"></preference>
        <preference name="intercom-android-api-key" value="android_sdk-b999a81ff727e8b0b60e47e5fd90e4b2f889677d"></preference> -->
    <!-- END: Live Chat -->

    <!-- START: FreshDesk -->
      <!-- <gap:plugin name="hotline" source="npm"/> -->
    <!-- END: FreshDesk -->
    

    <!--<gap:plugin name="cordova-plugin-google-conversion" source="npm" />-->
    <!--<gap:plugin name="cordova-plugin-firebase" source="npm" />-->
    <!-- <gap:plugin spec="https://github.com/etabard/Cordova-OverAppBrowser.git" />-->

    <gap:plugin name="cordova-custom-config" source="npm" />
    <config-file platform="ios" target="*-Info.plist" parent="NSCalendarsUsageDescription">
        <string>Some functionality may access calendar</string>
    </config-file>
    <config-file platform="ios" target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
        <string>Some functionality may access your photo library</string>
    </config-file>
    <config-file platform="ios" target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
        <string>Some functionality may access your bluetooth</string>
    </config-file>
    <config-file platform="ios" target="*-Info.plist" parent="NSMicrophoneUsageDescription">
        <string>Some functionality may access your microphone</string>
    </config-file>





    <!--    <gap:plugin name="cordova-plugin-wkwebview" source="npm" />-->
    <!--	<gap:plugin spec="https://github.com/nieok/WKWebView.git" />-->
    <!--    <gap:plugin name="pushwoosh-pgb-plugin" source="npm"/>-->
    <!--
    <plugin name="phonegap-plugin-push" source="npm" spec="1.7.4">
        <param name="SENDER_ID" value="802667392552" />
    </plugin>
-->
    <!--    <gap:plugin name="cordova-plugin-file" source="npm" />  -->
    <!--      <gap:plugin name="cordova-plugin-file-transfer" source="npm" />-->
    <!--<gap:plugin spec="https://github.com/Telerik-Verified-Plugins/AppVersion.git" />-->
    <!--<gap:plugin name="cordova-plugin-crosswalk-webview-pgb-adapt" source="npm" />-->
    <!--    <gap:plugin spec="https://github.com/apla/me.apla.cordova.app-preferences" />-->

</widget>
