<div class="popup popup-tertiary" ng-controller="Remove_Address_Ctrl">
        <h3>ARE YOU SURE YOU WANT TO DELETE THIS ADDRESS</h3>
    
        <ul class="list-buttons">
            <li>
                <a ng-click="RemoveAddress(item.id)" class="btn btn-default btn-block btn-pink btn-rounded">Yes</a>
            </li>
    
            <li>
                <a class="btn btn-default btn-block btn-outline-pink btn-rounded btn-close-popup">Cancel</a>
            </li>
        </ul><!-- /.list-buttons -->
    </div><!-- /.popup -->