<div class="popup popup--secondary">
        <div class="popup__head">
            <h3>SEND THE GIFT</h3>
        </div><!-- /.popup__head -->
    
        <div class="popup__body">
            <ul class="list-links">
                <li>
                    <a href="templates/ajax/send_as_gift_mail.htm" magnific-popup main-class="mfp-fade" type="ajax" show-close-btn="true" removal-delay="500" class="link-popup">
                        <span>By mail</span>
    
                        <span class="arrow-right"></span>
                    </a>
                </li>
    
                <li>
                    <a href="templates/ajax/send_as_gift_address.htm" magnific-popup main-class="mfp-fade" type="ajax" show-close-btn="true" removal-delay="500" class="link-popup">
                        <span>To my friend’s address</span>
    
                        <span class="arrow-right"></span>
                    </a>
                </li>
            </ul><!-- /.list-buttons -->
        </div><!-- /.popup__body -->
    </div><!-- /.popup -->
    