<div class="popup popup-card popup-tertiary" ng-controller="ProductsDetails_Ctrl">
	<h3>You already have item(s) in your cart. If you want to gift this item, it will clear your cart.</h3>

	<ul class="list-buttons">
		<li>
			<a ng-click="ClearAndWrapBasket(basket.basketId)" class="btn btn-default btn-block btn-pink btn-rounded btn-close-popup">Clear</a>
		</li>

		<li>
			<a class="btn btn-default btn-block btn-outline-pink btn-rounded btn-close-popup">Skip</a>
		</li>
	</ul><!-- /.list-buttons -->
</div><!-- /.popup -->
