<div class="container">
    <section class="section section--main section--main-brown section--services-tertiary section--article">
        <!-- <header class="section__head">
            <div class="shell">
                <div class="section__head-inner">
                    <a  class="btn-back">
                        <i class="ico-arrow-left-white"></i>
                    </a>

                    <h2>PEARLS &amp; BOTOX TREATMENT</h2>
                </div>
            </div>
        </header> -->

        <div class="section__body">
            <div class="shell">
                <article class="article article--features">
                    <div ng-bind-html="data.description"></div>
                </article><!-- /.article article-/-features -->
            </div><!-- /.shell -->
        </div><!-- /.section__body -->
    </section><!-- /.section section-/-restaurants -->
</div><!-- /.container -->