<main class="search">
        <!-- <button class="btn _btn btn-primary direction-toggler" type="button" name="button"
          style="cursor: pointer; position: fixed; top: 200px; left:0; z-index: 999;">toggle</button> -->
        <div class="top-ad-holder-mobile" ng-bind-html="data.googleAds.mobileAds.top.script | htmlSafe"></div>
        <div class="section-title-filter">
            <div class="container container--custom">
                <div class="holder-title">
                    <h1 class="section-title">
                        نتائج البحث عن"{{term}}"
                    </h1>
                </div>
            </div>
        </div>
    
        <div class="container container--custom">
            <div class="page-content">
                <div class="section-three-article">
                        <div class="holder-right-side">
                            <div class="single-article" ng-repeat="article in data.articles" ng-if="$index < 2">
                                <div class="holder-details">
                                    <div class="holder-title">
                                        <h2>
                                            <a ui-sref="app.articleDetails({ id : article.id })" class="detail-title" ng-bind="article[currentLang+'title']"></a>
                                        </h2>
                                    </div>
                                    <a ui-sref="app.articleDetails({ id : article.id })" class="detail-desc" ng-bind-html="article[currentLang+'smalldescription'] | htmlSafe"></a>
                                    <ul class="holder-actions list-unstyled">
                                        <li class="action-item" ng-if="article.date != null">
                                            <span class="icon-clock"></span><a ui-sref="app.articleDetails({ id : article.id })" ng-bind="article.date"></a>
                                        </li>
                                        <li class="action-item"><a ng-mouseover="addthis_send($event, '', 'Article/'+article.id, 'Awalan - '+article.artitle)"><span class="icon-arrow-left"></span></a></li>
                                        <li class="action-item"><span class="icon-star"></span></li>
                                    </ul>
                                    <div class="tags-holder">
                                        <span class="tags" ng-repeat="tag in article.tags"><a ui-sref="app.search({term : tag[currentLang+'title']})" class="tags-link" ng-bind="tag[currentLang+'title']"></a></span>
                                    </div>
                                </div>
                                <div class="holder-single-image">
                                    <a ui-sref="app.articleDetails({ id : article.id })" class="{{ article.videoUrl != null ? 'holder-video' : ''}}">
                                        <img src="{{resizeUrl+'1000x248xi/'+article.image}}" alt="{{article[currentLang+'title']}}" class="single-image" />
                                    </a>
                                </div>
                            </div>
                            <div class="holder-ads-image">
                                <div ng-bind-html="globalData.ads.GoogleAdHomeTop | htmlSafe"></div>
                                <div class="holder-desc">
                                    <p class="desc"></p>
                                </div>
                            </div>
                        </div>
                </div>
    
                <div class="section-single-article">
                    <div class="container container--custom">
                        <div class="holder-right-side">
                            <div class="holder-single-article">
                                <div class="single-article" ng-repeat="article in data.articles" ng-if="$index > 1">
                                        <div class="holder-details">
                                            <div class="holder-title">
                                                <h2>
                                                    <a ui-sref="app.articleDetails({ id : article.id })" class="detail-title" ng-bind="article[currentLang+'title']"></a>
                                                </h2>
                                            </div>
                                            <a ui-sref="app.articleDetails({ id : article.id })" class="detail-desc" ng-bind-html="article[currentLang+'smalldescription'] | htmlSafe"></a>
                                            <ul class="holder-actions list-unstyled">
                                                <li class="action-item" ng-if="article.date != null">
                                                    <span class="icon-clock"></span><a ui-sref="app.articleDetails({ id : article.id })" ng-bind="article.date"></a>
                                                </li>
                                                <li class="action-item"><a ng-mouseover="addthis_send($event, '', 'Article/'+article.id, 'Awalan - '+article.artitle)"><span class="icon-arrow-left"></span></a></li>
                                                <li class="action-item"><span class="icon-star"></span></li>
                                            </ul>
                                            <div class="tags-holder">
                                                <span class="tags" ng-repeat="tag in article.tags"><a ui-sref="app.search({term : tag[currentLang+'title']})" class="tags-link" ng-bind="tag[currentLang+'title']"></a></span>
                                            </div>
                                        </div>
                                        <div class="holder-single-image">
                                            <a ui-sref="app.articleDetails({ id : article.id })" class="{{ article.videoUrl != null ? 'holder-video' : ''}}">
                                                <img src="{{resizeUrl+'1000x248xi/'+article.image}}" alt="{{article[currentLang+'title']}}" class="single-image" />
                                            </a>
                                        </div>
                                </div>
                                <div class="holder-btn-more" ng-if="data.HasNextPage">
                                    <a ng-click="LoadMoreArticles($event, (data.PageIndex+1))" ng-hide="isLoading" class="btn-more">المزيد</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <aside class="widgets-area">
                <div class="section-chart">
                    <div class="chart-tab">
                        <div class="tab-item active-link" data-link="firstTab">أسهم</div>
                        <div class="tab-item" data-link="secondTab">سندات</div>
                        <div class="tab-item" data-link="thirdTab">سلاع </div>
                        <div class="tab-item" data-link="fourthTab">فوائد</div>
                    </div>
    
                    <div id="firstTab" class="tab-content">
                        <img src="assets/images/chart.jpg" class="img-chart" alt="chart">
                    </div>
                    <div id="secondTab" class="tab-content">
                        <img src="assets/images/img-thumb10.jpg" alt="chart">
                    </div>
                    <div id="thirdTab" class="tab-content">
                        <img src="assets/images/chart.jpg" alt="chart">
                    </div>
                    <div id="fourthTab" class="tab-content">
                        <img src="assets/images/chart.jpg" alt="chart">
                    </div>
                </div>
                <div class="holder-ads">
                    <div ng-bind-html="globalData.ads.GoogleAdHomeLeft | htmlSafe"></div>
                </div>
                <div class="holder-desc">
                    <p class="desc"></p>
                </div>
                <div class="holder-ads2">
                    <div class="top-ad-holder-mobile" ng-bind-html="data.googleAds.mobileAds.top.script | htmlSafe"></div>
                </div>
                <div class="holder-desc">
                    <p class="desc"></p>
                </div>
                <div class="holder-small-article" ng-if="data.editorsPick.length > 0">
                    <h2 class="title">اخترنا لك</h2>
                    <div class="holder-articles">
                            <div class="article" ng-repeat="article in data.editorsPick">
                                <div class="holder-image">
                                    <a ui-sref="app.articleDetails({ id : article.id })"><img ng-src="{{resizeUrl+'1000x110xi/'+article.image}}" alt="{{article[currentLang+'title']}}" class="image"></a>
                                </div>
                                <h3>
                                    <a ui-sref="app.articleDetails({ id : article.id })" class="article-title" ng-bind="article[currentLang+'title']"></a>
                                </h3>
                                <ul class="holder-actions list-unstyled">
                                    <li class="action-item" ng-if="article.date != null">
                                        <span class="icon-clock"></span> <a ui-sref="app.articleDetails({ id : article.id })" ng-bind="article.date"></a>
                                    </li>
                                    <li class="action-item"><a ng-mouseover="addthis_send($event, '', 'Article/'+article.id, 'Awalan - '+article.artitle)"><span class="icon-arrow-left"></span></a></li>
                                    <li class="action-item"><span class="icon-star"></span></li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="section-partners" ng-if="data.companies.length > 0 && false">
                        <h2 class="partner-heading">شركات</h2>
        
                        <div class="swiper-partner-holder">
                            <div class="swiper-container swiper-partners">
                                <div class="swiper-wrapper">
                                        <div class="swiper-slide" ng-repeat="company in data.companies" ng-if="$index < (data.companies.length/2)">
                                            <div class="partner-list">
                                                <div class="partner-holder">
                                                    <a>
                                                        <div class="partner-img-holder">
                                                            <img class="partner-img" src="{{resizeUrl+'100x63xi/'+data.companies[$index*2]['image']}}" alt="{{data.companies[$index*2][currentLang+'title']}}">
                                                        </div>
                                                    </a>
                                                    <a>
                                                        <p class="partner-name" ng-bind="data.companies[$index*2][currentLang+'title']"></p>
                                                    </a>
                                                </div>
                                                    <div class="partner-holder" ng-if="data.companies[($index*2)+1]">
                                                        <a>
                                                            <div class="partner-img-holder">
                                                                <img class="partner-img" src="{{resizeUrl+'100x63xi/'+data.companies[($index*2)+1]['image']}}" alt="{{data.companies[($index*2)+1][currentLang+'title']}}">
                                                            </div>
                                                        </a>
                                                        <a>
                                                            <p class="partner-name" ng-bind="data.companies[($index*2)+1][currentLang+'title']"></p>
                                                        </a>
                                                    </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="swiper-button-next swiper-button-black"></div>
                                <div class="swiper-button-prev swiper-button-black"></div>
                            </div>
                        </div>
                </div>
                    <div class="holder-most-read" ng-if="false">
                            <p class="heading">الأكثر قراءة</p>
                
                            <ul class="list-item list-unstyled">
                                    <li class="item" ng-repeat="article in data.mostRead">
                                        <h3>
                                            <a ui-sref="app.articleDetails({ id : article.id })">
                                                <p class="link-heading" ng-bind="article[currentLang+'title']"></p>
                                            </a>
                                        </h3>
                                        <ul class="holder-actions list-unstyled">
                
                                            <li class="action-item" ng-if="article.date != null"><span class="icon-clock"></span> <a ui-sref="app.articleDetails({ id : article.id })" ng-bind="article.date"></a></li>
                                            <li class="action-item"><a ng-mouseover="addthis_send($event, '', 'Article/'+article.id, 'Awalan - '+article.artitle)" ><span class="icon-arrow-left"></span></a></li>
                                            <li class="action-item"><span class="icon-star"></span></li>
                                        </ul>
                                    </li>
                            </ul>
                    </div>
                    <div class="holder-newsletter">
                        <h2 class="newsletter-title">اشترك في نشرتنا الإخبارية</h2>
                        <div class="hodler-inputs">
                            <input type="text" id="newsletterEmail" class="inpt-news" placeholder="أدخل بريدك الالكتروني">
                            <button type="submit" class="btn-check btn-news-letter"><i class="fas fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    
            <input type="hidden" id="search-term" value="@searchTerm" />
            <input type="hidden" id="page" value="1" />
    </main>