<div class="wrapper">
    <ui-view name="header"></ui-view>
    <!-- <ui-view name="alert"></ui-view> -->
    <!-- <ui-view name="menu"></ui-view> -->
    <ui-view ></ui-view>
    <ui-view name="footer"></ui-view>    
    <!-- <ui-view name="livechat"></ui-view>     -->
    <!-- <ui-view name="alertnetwork"></ui-view>     -->
    <div id="loaderDiv" loader>
            <img src="assets/images/page-loader.png" class="ajax-loader"/>
    </div>
    <div id="loaderDivForced" class="">
            <img src="assets/images/page-loader.png" class="ajax-loader">
    </div>
    <div id="noInternet">
        <div class="noInternetText">
            No internet connection.<br> Check your connectivity and try again.
        </div>
    </div>
</div>