<footer>
    <div class="container container--custom">
        <div class="holder-link">
            <div class="holder-main-link">
                <ul class="main-link-list">
                    <li class="main-link-item">
                        <a ui-sref="app.aboutus" class="footer-link">من نحن</a>
                    </li>
                    <li class="main-link-item">
                        <a ui-sref="app.contactus" class="footer-link">اتصل بنا</a>
                    </li>
                    <li class="main-link-item">
                        <a ui-sref="app.privacy" class="footer-link">الخصوصية</a>
                    </li>
                    <li class="main-link-item">
                        <a ui-sref="app.terms" class="footer-link">
                            حقوق التأليف
                            والنشر
                        </a>
                    </li>
                </ul>
            </div>

            <div class="holder-link-list footer-categories">
				<div class="holder-link-list-item" ng-repeat="category in $root.globalData.footerCategories">
                    <a ng-if="(category.id != reportCategoryId && category.id != countryCategoryId)" ui-sref="app.articleCategory({id: category.id})" class="link-list-item-title footer-link" ng-bind="category.title"></a>
                    <a ng-if="category.id == reportCategoryId" ui-sref="app.articleCategoryReport" class="link-list-item-title footer-link" ng-bind="category.title"></a>
                    <a ng-if="category.id == countryCategoryId" ui-sref="app.articleCategoryCountry({id:0,subcategoryId:0,countryId:0})" class="link-list-item-title footer-link" ng-bind="category.title"></a>
						<ul class="link-list" ng-if="category.subcategories.length > 0">
								<li class="link-list-item" ng-repeat="subcategory in category.subcategories">
                                    <a ng-if="category.id != reportCategoryId && category.id != countryCategoryId" ui-sref="app.articleCategory({id: category.id, subcategoryId: subcategory.id})" class="footer-link" ng-bind="subcategory.title"></a>
                                    <a ng-if="category.id == reportCategoryId" ui-sref="app.articleCategoryReport({id: category.id, subcategoryId: subcategory.id})" class="footer-link" ng-bind="subcategory.title"></a>
                                    <a ng-if="category.id == countryCategoryId" ui-sref="app.articleCategoryCountry({countryId: subcategory.id})" class="footer-link" ng-bind="subcategory.title"></a>
								</li>
						</ul>
				</div>
            </div>

            <div class="holder-logo">
                <div class="holder-logo-img">
                    <a href=""><img src="assets/images/logo-white.png" alt="أوّلاً - awalan"></a>
                </div>
                <div class="holder-social-media">
                    <div class="holder-social-media-link" ng-repeat="social in $root.globalData.social">
                        <a href="{{social.link}}" class="footer-link" target="_blank"><i class="fab {{social.icon}}"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="holder-copyright">
            <a href="https://koein.com" class="copyright-text" target="__blank">Copyright &copy; 2019. By koein</a>
        </div>
    </div>
</footer>
