<footer>
    <!-- <div class="container container--custom">
        <div class="holder-link">
            <div class="holder-main-link">
                <ul class="main-link-list">
                    <li class="main-link-item">
                        <a ui-sref="app.aboutus" class="footer-link">من نحن</a>
                    </li>
                    <li class="main-link-item">
                        <a ui-sref="app.contactus" class="footer-link">اتصل بنا</a>
                    </li>
                    <li class="main-link-item">
                        <a ui-sref="app.privacy" class="footer-link">الخصوصية</a>
                    </li>
                    <li class="main-link-item">
                        <a ui-sref="app.terms" class="footer-link">
                            حقوق التأليف
                            والنشر
                        </a>
                    </li>
                </ul>
            </div>

            <div class="holder-link-list footer-categories">
				<div class="holder-link-list-item" ng-repeat="category in $root.globalData.footerCategories">
                    <a ng-if="(category.id != reportCategoryId && category.id != countryCategoryId)" ui-sref="app.articleCategory({id: category.id})" class="link-list-item-title footer-link" ng-bind="category.title"></a>
                    <a ng-if="category.id == reportCategoryId" ui-sref="app.articleCategoryReport" class="link-list-item-title footer-link" ng-bind="category.title"></a>
                    <a ng-if="category.id == countryCategoryId" ui-sref="app.articleCategoryCountry({id:0,subcategoryId:0,countryId:0})" class="link-list-item-title footer-link" ng-bind="category.title"></a>
						<ul class="link-list" ng-if="category.subcategories.length > 0">
								<li class="link-list-item" ng-repeat="subcategory in category.subcategories">
                                    <a ng-if="category.id != reportCategoryId && category.id != countryCategoryId" ui-sref="app.articleCategory({id: category.id, subcategoryId: subcategory.id})" class="footer-link" ng-bind="subcategory.title"></a>
                                    <a ng-if="category.id == reportCategoryId" ui-sref="app.articleCategoryReport({id: category.id, subcategoryId: subcategory.id})" class="footer-link" ng-bind="subcategory.title"></a>
                                    <a ng-if="category.id == countryCategoryId" ui-sref="app.articleCategoryCountry({countryId: subcategory.id})" class="footer-link" ng-bind="subcategory.title"></a>
								</li>
						</ul>
				</div>
            </div>

            <div class="holder-logo">
                <div class="holder-logo-img">
                    <a href=""><img src="assets/images/logo-white.png" alt="أوّلاً - awalan"></a>
                </div>
                <div class="holder-social-media">
                    <div class="holder-social-media-link" ng-repeat="social in $root.globalData.social">
                        <a href="{{social.link}}" class="footer-link" target="_blank"><i class="fab {{social.icon}}"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="holder-copyright">
            <a href="https://koein.com" class="copyright-text" target="__blank">Copyright &copy; 2019. By koein</a>
        </div>
    </div> -->
</footer>


<div class="modal-newsletter">
        <div class="newsletter-wrapper">
            <span class="icon-close"></span>
            <div class="form-container">
                <div class="form-holder">
    
                    <div class="holder-heading">
                        <h2 class="heading">اشترك في نشرتنا الإخبارية</h2>
                    </div>
    
                    <form id="newsLetterForm" class="newsLetterForm" name="newsLetterForm" novalidate>
    
                        <div class="form-group">
                            <!-- <label for="email" class="form-label">Email address *</label> -->
                            <div class="form-controls">
                                <input type="text" class="form-field" name="email" id="email" placeholder=" أدخل بريدك الالكتروني" />
                            </div>
    
                        </div>
    
                        <div class="form-group">
                            <div class="form-controls">
                                <input type="text" class="form-field" name="firstName" placeholder="الاسم الاول" id="firstName" required />
                            </div>
    
                        </div>
    
                        <div class="form-group">
                            <!-- <label for="nickName" class="form-label">Phone number *</label> -->
                            <div class="form-controls">
                                <input type="text" class="form-field" name="lastName" id="lastName" placeholder="الكنية" />
                            </div>
    
                        </div>
    
    
                        <div class="form-group">
                            <!-- <label for="message" class="form-label">Your message *</label> -->
                            <div class="form-controls select-wrapper">
                                <select class="form-select" name="countryId" id="countryId">
                                    <option value="">البلد</option>
                                    <option ng-value="country.id" ng-repeat="country in $root.globalData.countries" ng-bind="country[$root.currentLang+'title']"></option>
                                </select>
                            </div>
                        </div>
    
                        <div class="btn-wrapper">
                            <input class="btn-turquoise submit-btn" type="submit" name="button" value="إشترك">
                            <div class="btn-loader"><img class="loader" src="assets/images/loader.png" /></div>
                        </div>
    
                    </form>
                </div>
                <div class="form-msg">
                    <p class="success">شكرا لك. لقد انضممت بنجاح إلى نشرتنا الإخبارية‎</p>
                    <p class="error">البريد الإلكتروني موجود</p>
                </div>
            </div>
        </div>
</div>