<main class="main-full box-gradient box-gradient--light">
    <div class="main__inner">
        <div class="form-main form--center form--app form--icon-lg">
            <div class="form-main__image-blur" style="background-image: url(assets/images/temp/main-2.jpg);"></div>
            <form action="?" method="post">
                <div class="form__head">
                    <i class="fa fa-check-circle"></i>
                    <h4 class="form__title-alt">
                        Your account is verified!
                        <br> How would you like to access in the future
                    </h4>
                    <div class="form__section form--small">
                        <ul class="list-checkboxes">
                            <li>
                                <div class="checkbox checkbox--alt">
                                    <input type="checkbox" name="field-logged-in" id="field-logged-in">
                                    <label for="field-logged-in">Keep me logged in</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox checkbox--alt">
                                    <input type="checkbox" name="field-use-fingerprint" id="field-use-fingerprint">
                                    <label for="field-use-fingerprint">Use my fingerprint</label>
                                </div>
                            </li>
                        </ul>
                        <div class="form__actions">
                            <input type="submit" value="Proceed" class="btn btn--primary btn--solid-white btn--block">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>