<div class="container">
        <section class="section section--solid section--long section--centered section--main section--main-secondary">
            <!-- <header class="section__head section__head-scroll">
                <div class="shell">
                    <div class="section__head-inner">
                        <a href="#" class="btn-back">
                            <i class="ico-arrow-left-white"></i>
                        </a>

                        <h2>FORGOT PASSWORD</h2>

                        <a href="27_cart.html" class="basket">
                            <svg class="ico-shopping-bag">
                                <use xlink:href="#shopping-bag"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </header> -->

            <div class="section__body">
                <div class="shell">
                    <div class="section__inner">
                        <div class="form form-solid form-register">
                            <form action="?" method="post">
                                <div class="form__body">
                                    <h3>AN EMAIL WITH A LINK TO UPDATE YOUR PASSWORD HAS BEEN SENT TO YOUR INBOX</h3>
                                </div><!-- /.form__body -->

                                <div class="form__actions">
                                    <div class="error-message"></div><!-- /.error-message -->

                                    <a ui-sref="app.login" class="btn btn-default btn-block btn-rounded btn-pink">Log in now</a>
                                </div><!-- /.form__actions -->
                            </form>
                        </div><!-- /.form form-login -->
                    </div><!-- /.section__inner -->
                </div><!-- /.shell -->
            </div><!-- /.section__body -->
        </section><!-- /.section section-/-restaurants -->
    </div><!-- /.container -->