<div class="container">
        <section class="section section--solid section--long section--centered section--main section--main-secondary">
            <!-- <header class="section__head section__head-scroll">
                <div class="shell">
                    <div class="section__head-inner">
                        <a href="#" class="btn-back">
                            <i class="ico-arrow-left-white"></i>
                        </a>

                        <h2>FORGOT PASSWORD</h2>

                        <a href="27_cart.html" class="basket">
                            <svg class="ico-shopping-bag">
                                <use xlink:href="#shopping-bag"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </header> -->

            <div class="section__body">
                <div class="shell">
                    <div class="section__inner">
                        <div class="form form-solid form-register validate">
                            <form name="forgotPassForm" id="forgotPassForm">
                                <div class="form__body">
                                    <h3>PLEASE ENTER YOUR EMAIL BELOW TO RECIEVE A RESET LINK</h3>

                                    <div class="form__row">
                                        <div class="form__controls">
                                            <input type="email" class="field" name="UserName" id="field-email" ng-model="model.UserName" data-rule-required="true">

                                            <label for="field-email" class="form__label">Email address*</label>
                                        </div><!-- /.form__controls -->
                                    </div><!-- /.form__row -->
                                </div><!-- /.form__body -->

                                <div class="form__actions">
                                    <div class="error-message"></div><!-- /.error-message -->
                                    <img class="loader" src="assets/images/loader.gif">
                                    <button type="submit" class="btn btn-default btn-block btn-rounded btn-pink">Submit</button>
                                </div><!-- /.form__actions -->
                            </form>
                        </div><!-- /.form form-login -->
                    </div><!-- /.section__inner -->
                </div><!-- /.shell -->
            </div><!-- /.section__body -->
        </section><!-- /.section section-/-restaurants -->
    </div><!-- /.container -->