<app-Alert></app-Alert>
<main class="main-full main-full--top box-gradient box-gradient--light" style="background-image: url(assets/images/temp/main-2.jpg);">
    <div class="main__inner">
        <div class="form-main form--center form--app">
            <form id="forgotPassForm" name="forgotPassForm" class="white-spinner">
                <a ng-click="GoToState(backUrl)" class="btn-back btn-back--white btn-back--small"></a>
                <div class="form__head">
                    <h1 class="form__title-mobile title--xsmall">Forgot your password?</h1>
                    <!-- <h4 class="form__title-alt">To reset your password, enter the email address you use to sign in</h4> -->
                    <h4 class="form__title-alt">To reset your password, enter the mobile number you registred with</h4>
                </div>
                <div class="form__section form--small">
                    <div class="form__body">
                        <!-- <div class="form__row">
                            <label for="field-email" class="hidden">Email</label>
                            <div class="form__controls">
                                <input type="email" class="field-alt" name="field-email" id="field-email" value="" placeholder="Email">

                                <i class="fa fa-envelope"></i>
                            </div>
                        </div> -->
                        <div class="form__row">
                            <label for="mobile" class="hidden">Your mobile number</label>
                            <div class="form__controls">
                                <input type="tel" pattern="[0-9]*" class="field-alt" name="username" id="username" ng-model="model.username" placeholder="Your mobile number"
                                    data-rule-required="true" data-rule-mobilephone="true" data-rule-minlength="7" data-rule-maxlength="8">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__actions">
                                <input type="submit" value="Send link" class="btn btn--primary btn--solid-white btn--block">
                                <div class="spinner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<app-Alert-Internet></app-Alert-Internet>