<app-Alert></app-Alert>
<main class="main-full main-full--top box-gradient box-gradient--light" style="background-image: url(assets/images/temp/main-2.jpg);">
    <div class="main__inner">
        <div class="form-main form--center form--app">
            <form id="resetPassForm" name="resetPassForm" class="white-spinner">
                <a ng-click="GoToState(backUrl)" class="btn-back btn-back--white btn-back--small"></a>
                <div class="form__head">
                    <h1 class="title--xsmall">Change password</h1>
                </div>
                <div class="form__section form--small">
                    <div class="form__body">
                        <div class="form__row">
                            <label for="field-new-password" class="hidden">New password</label>
                            <div class="form__controls">
                                <input type="password" class="field-alt" name="Password" id="Password" ng-model="model.Password" placeholder="New password"
                                data-rule-required="true">
                            </div>
                        </div>
                        <div class="form__row">
                            <label for="field-new-password-confirm" class="hidden">Confirm new password</label>
                            <div class="form__controls">
                                <input type="password" class="field-alt" name="NewPassword" id="NewPassword" placeholder="Confirm new password" 
                                data-rule-required="true" data-rule-equalto="#Password" data-msg-equalto="Passwords do not match">
                            </div>
                        </div>
                    </div>
                    <div class="form__actions">
                        <input type="submit" value="Save password" class="btn btn--primary btn--solid-white btn--block">
                        <div class="spinner"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<app-Alert-Internet></app-Alert-Internet>