<main class="main-full main-full--top box-gradient box-gradient--light" style="background-image: url(assets/images/temp/main-2.jpg);">
    <div class="main__inner">
        <div class="form-main form--center form--app form--height-center">
            <!-- <div></div> -->
            <a ng-click="GoToState(backUrl)" class="btn-back btn-back--white btn-back--small"></a>
            <div class="form__head">
                <i class="fa fa-check-circle"></i>
                <h4 class="form__title-alt">A link has been sent to your email address to reset your password.</h4>
            </div>
        </div>
    </div>
</main>