<main class="main-full box-gradient box-gradient--light" style="background-image: url(assets/images/temp/main-2.jpg);">
    <div class="main__inner">
        <div class="form-main form--center form--app">
            <form action="?" method="post">
                <div class="form__head">
                    <h4 class="title--mobile-small">
                        A verification email has been sent to your inbox.
                        <br> Click on the link to verify your account.
                    </h4>
                </div>
            </form>
        </div>
    </div>
</main>