<div class="container">
        <section class="section section--solid section--main section--centered section--long section--main-secondary section--reset">
            <!-- <header class="section__head section__head-scroll">
                <div class="shell">
                    <div class="section__head-inner">
                        <a href="#" class="btn-back">
                            <i class="ico-arrow-left-white"></i>
                        </a>

                        <h2>FORGOT PASSWORD</h2>

                        <a href="27_cart.html" class="basket">
                            <svg class="ico-shopping-bag">
                                <use xlink:href="#shopping-bag"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </header> -->

            <div class="section__body">
                <div class="shell">
                    <div class="section__inner">
                        <span class="success">
                            <svg class="ico-checked">
                                <use xlink:href="#checked"></use>
                            </svg>
                        </span>

                        <h3>YOUR PASSWORD HAS BEEN <br>SUCCESSFULLY UPDATED</h3>
                    </div><!-- /.section__inner -->
                </div><!-- /.shell -->
            </div><!-- /.section__body -->
        </section><!-- /.section section-/-restaurants -->
    </div><!-- /.container -->