<main class="details-article">
    <!-- <button class="btn _btn btn-primary direction-toggler" type="button" name="button"
      style="cursor: pointer; position: fixed; top: 200px; left:0; z-index: 999;">toggle</button> -->
    <h1 class="page-title"><strong>detail article</strong></h1>
    <div class="section-blog">

        <div class="container container--custom">
            <div class="single-blog">
                <!--<div class="social-media-wrapper">
                    <ul class="social-media-list">
                        <li class="social-media-item">
                            <a href="javascrip:void(0)" class="soc-med-link">
                                <img class="soc-med-icon"
                                     src="@Url.Content("~/Content/assets/images/icon-fb.png")" alt="">
                            </a>
                        </li>
                        <li class="social-media-item">
                            <a href="javascrip:void(0)" class="soc-med-link">
                                <img class="soc-med-icon"
                                     src="@Url.Content("~/Content/assets/images/icon-linkedin.png")" alt="">
                            </a>
                        </li>
                        <li class="social-media-item">
                            <a href="javascrip:void(0)" class="soc-med-link">
                                <img class="soc-med-icon"
                                     src="@Url.Content("~/Content/assets/images/icon-twitter.png")" alt="">
                            </a>
                        </li>
                        <li class="social-media-item social-media-item-gmail">
                            <a href="javascrip:void(0)"
                               class="soc-med-link"><img class="soc-med-icon" src="@Url.Content("~/Content/assets/images/icon-gmail.png")" alt=""></a>
                        </li>
                    </ul>
                </div>-->

                <div class="holder-right">
                    <div class="section-article">
                        <div class="published-holder">
                            <ul class="published">
                                <li class="published-item" ng-if="data.article.date != null">
                                    <img class="clock-icon" src="/assets/images/clock.png" alt=""><span class="published-time" ng-bind="data.article.date"></span>
                                </li>
                                <li class="published-item">
                                    <a href="javascript:void(0)" class="favorite-link">
                                        <img class="favorite-btn" src="/assets/images/star.png" alt="">
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="back-to-listing">
                                <div class="btn-close"></div>
                            </a>
                        </div>
                        <div class="article-header">
                            <h2 class="article-title" ng-bind="data.article[currentLang+'title']"></h2>
                            <ul class="editor-holder">
                                <li class="editor-item" ng-repeat="company in data.allcompanies"><a href="" ng-bind="company[currentLang+'title']"></a></li>

                                <li class="editor-item" ng-repeat="writer in data.writers"><img class="icon-pencil" src="assets/images/pencil.png" alt="">{{writer[currentLang+'fullName']}}</li>
                            </ul>
                        </div>

                        <div class="section-market">
                            <ul class="market-list">
                                <li class="market-item" ng-repeat="indicator in data.indicators">
                                    <img class="icon-market" ng-src="{{resizeUrl+'25x24xi/'+indicator.image}}" alt="{{indicator[currentLang+'label']}}">{{indicator[currentLang+'label']}}
                                    <span class="text-blue">{{indicator[currentLang+'value']}}</span>
                                </li>
                            </ul>

                            <div class="tags-holder">
                                <span class="tags" ng-repeat="tag in data.tags"><a ui-sref="app.search({term : tag[currentLang+'title']})" class="tags-link" ng-bind="tag[currentLang+'title']"></a></span>
                            </div>
                        </div>

                        <div class="section-article-details">
                            <h3 class="article-subheading" ng-bind="data.article[currentLang+'subtitle']"></h3>
                            <div class="article-gallery">
                                <div class="{{ data.article.isMedia1 || data.article.isMedia2 ? 'gallery-thumb-wide' : 'gallery-thumb-full'}} {{data.article.videoUrl != null ? 'article-has-video' : ''}}">
                                    <a href=javascript:void(0)>
                                        <img class="thumb-img-wide" ng-src="{{resizeUrl+'1000x300xo/'+data.article.image}}" alt="{{data.article[currentLang+'title']}}">
                                    </a>
                                    <div class="thumb-details">
                                        <p class="thumb-info js-video-btn" ng-if="data.article.isMedia2">
                                            <img class="thumb-info-icon" src="/assets/images/icon-video.png"
                                                 alt="">
                                            <span class="count" ng-bind="data.article.mediaCount2"></span>
                                        </p>
                                        <p class="thumb-info js-img-btn" ng-if="data.article.isMedia1">
                                            <img class="thumb-info-icon" src="/assets/images/icon-image.png"
                                                 alt="">
                                            <span class="count" ng-bind="data.article.mediaCount1"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="gallery-thumb-sm">
                                    <div class="gallery-thumb image-thumb" ng-if="data.article.isMedia1">
                                        <a href="javascript:void(0)" style="background-image:url('{{resizeUrl+'420x272xo/'+data.article.media1[0].mediaSrc}}')">
                                        </a>
                                    </div>
                                    <div class="gallery-thumb video-thumb" ng-if="data.article.isMedia2" style="background-image:url('{{resizeUrl+'420x272xo/'+data.article.media2[0].mediaSrc}}')">
                                        <a href="javascript:void(0)"></a>
                                        <div class="btn-play-wrapper">
                                            <a href="javascript:void(0)" class="btn-play-link">
                                                <!-- <img class="btn-play" src="assets/images/play-white.png" alt=""> -->
                                            </a>
                                        </div>
                                    </div>
                                        <div class="gallery-thumb image-thumb" ng-if="!data.article.isMedia2 && !data.article.isMedia1">
                                            <a href="javascript:void(0)" style="background-image:url('{{resizeUrl+'220x230xi/'+data.article.media1[1].mediaSrc}}')">
                                                
                                            </a>
                                        </div>
                                </div>
                            </div>

                            <div class="mobile-ads-wrapper" ng-bind-html="globalData.ads.GoogleAdMobileHeader | htmlSafe"></div>

                            <div class="article-desc" ng-bind-html="data.article[currentLang+'description'] | htmlSafe"></div>
                                <a href="{{baseUrl+'Content/uploads/Articles/'+data.article.fileSrc}}" class="file-holder" ng-if="data.article.fileSrc != null">
                                    تحميل الملف<i class="fas fa-arrow-down"></i>
                                </a>
                        </div>

                        <div class="navigation-holder">
                            <div class="prev-article">
                            <div ng-if="data.previousArticle != null">
                                <h2>
                                    <a ui-sref="app.articleDetails({id : data.previousArticle.id})" class="article-nav-link">
                                        المقال السابق
                                    </a>
                                </h2>
                                <h3>
                                    <a ui-sref="app.articleDetails({id : data.previousArticle.id})" class="article-preview-desc" ng-bind="data.previousArticle[currentLang+'title']"></a>
                                </h3>
                                <ul class="published">
                                    <li class="published-item" ng-if="data.previousArticle.date != null">
                                        <img class="clock-icon" src="/assets/images/clock.png" alt="">
                                        <a ui-sref="app.articleDetails({id : data.previousArticle.id})">
                                            <span class="published-time" ng-bind="data.previousArticle.date"></span>
                                        </a>
                                    </li>
                                    <li class="published-item">
                                        <a href="https://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '')" onmouseout="addthis_close()" onclick="return addthis_sendto()" class="favorite-link">
                                            <img class="share-btn" src="/assets/images/arrow-left.png" alt="">
                                        </a>
                                    </li>
                                    <li class="published-item">
                                        <a href="javascript:void(0)" class="favorite-link">
                                            <img class="favorite-btn" src="/assets/images/star.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            </div>
                            <div class="next-article">
                            <div ng-if="data.nextArticle != null">
                                <h2>
                                    <a ui-sref="app.articleDetails({id : data.previousArticle.id})" class="article-nav-link">
                                        المقال التالي
                                    </a>
                                </h2>
                                <h3>
                                    <a ui-sref="app.articleDetails({id : data.previousArticle.id})" class="article-preview-desc" ng-bind="data.nextArticle[currentLang+'title']"></a>
                                </h3>
                                <ul class="published">
                                    <li class="published-item" ng-if="data.nextArticle.date != null">
                                        <img class="clock-icon" src="/assets/images/clock.png" alt="">
                                        <a ui-sref="app.articleDetails({id : data.previousArticle.id})">
                                            <span class="published-time" ng-bind="data.nextArticle.date"></span>
                                        </a>
                                    </li>
                                    <li class="published-item">
                                        <a href="https://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '', '')" onmouseout="addthis_close()" onclick="return addthis_sendto()"  class="favorite-link">
                                            <img class="share-btn" src="/assets/images/arrow-left.png" alt="">
                                        </a>
                                    </li>
                                    <li class="published-item">
                                        <a href="javascript:void(0)" class="favorite-link">
                                            <img class="favorite-btn" src="/assets/images/star.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="holder-left">
                    <div class="holder-ads" ng-bind-html="globalData.ads.GoogleAdDetailLeft | htmlSafe">
                    </div>
                    <div class="section-related-report" ng-if="data.reports.length > 0">
                        <h2 class="related-heading">تقارير ذات صلة</h2>

                        <div class="swiper-report-holder">
                            <div class="swiper-container swiper-report">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" ng-repeat="report in data.reports">
                                        <a href="" class="report-icon-holder">
                                            <img class="icon-report" ng-src="{{resizeUrl+'100x63xi/'+report.image}}" alt="{{report[currentLang+'title']}}">
                                        </a>
                                        <a href="" class="related-report-title" ng-bind="report[currentLang+'title']"></a>
                                    </div>
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-black"></div>
                                <div class="swiper-button-prev swiper-button-black"></div>
                            </div>
                        </div>
                    </div>


                    <div class="section-partners" ng-if="data.maincompanies.length > 0">
                        <h2 class="partner-heading">شركات</h2>

                        <div class="swiper-partner-holder">
                            <div class="swiper-container swiper-partners">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" ng-repeat="company in data.maincompanies" ng-if="$index < (data.maincompanies.length/2)">
                                        <div class="partner-list">
                                            <div class="partner-holder">
                                                    <div class="partner-img-holder">
                                                        <img class="partner-img" ng-src="{{resizeUrl+'1000x110xi/'+data.maincompanies[$index*2].image}}" alt="{{data.maincompanies[$index*2][currentLang+'title']}}">
                                                    </div>
                                                <div class="partner-name" ng-bind="data.maincompanies[$index*2][currentLang+'title']"></div>
                                            </div>
                                            <div class="partner-holder" ng-if="data.maincompanies[($index*2)+1]">
                                                    <div class="partner-img-holder">
                                                        <img class="partner-img" ng-src="{{resizeUrl+'1000x110xi/'+data.maincompanies[($index*2)+1].image}}" alt="{{data.maincompanies[($index*2)+1][currentLang+'title']}}">
                                                    </div>
                                                <div class="partner-name" ng-bind="data.maincompanies[($index*2)+1][currentLang+'title']"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next swiper-button-black"></div>
                                <div class="swiper-button-prev swiper-button-black"></div>
                            </div>
                        </div>
                    </div>

                    <div class="section-partners section-partners--other" ng-if="data.companies.length > 0">
                        <h2 class="partner-heading">شركات أخرى</h2>

                        <div class="swiper-partner-holder">
                            <div class="swiper-container swiper-partners">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" ng-repeat="company in data.companies" ng-if="$index < (data.companies.length/2)">
                                        <div class="partner-list">
                                            <div class="partner-holder">
                                                    <div class="partner-img-holder">
                                                        <img class="partner-img" ng-src="{{resizeUrl+'1000x110xi/'+data.companies[$index*2].image}}" alt="{{data.companies[$index*2][currentLang+'title']}}">
                                                    </div>
                                                <div class="partner-name" ng-bind="data.companies[$index*2][currentLang+'title']"></div>
                                            </div>
                                                <div class="partner-holder" ng-if="data.companies[($index*2)+1]">
                                                        <div class="partner-img-holder">
                                                            <img class="partner-img" ng-src="{{resizeUrl+'1000x110xi/'+data.companies[($index*2)+1].image}}" alt="{{data.companies[($index*2)+1][currentLang+'title']}}">
                                                        </div>
                                                    <div class="partner-name" ng-bind="data.companies[($index*2)+1][currentLang+'title']"></div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next swiper-button-black"></div>
                                <div class="swiper-button-prev swiper-button-black"></div>
                            </div>
                        </div>
                    </div>

                    <div class="section-people" ng-if="data.highprofiles.length > 0">
                        <h2 class="people-heading">أشخاص</h2>
                        <div class="people-list">
                            <div class="people-holder" ng-repeat="highprofile in data.highprofiles">
                                <h3>
                                    <a href="" class="people-name" ng-bind="highprofile[currentLang+'fullname']"></a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="mobile-ads-wrapper" ng-bind-html="globalData.ads.GoogleAdMobileHeader | htmlSafe">
                    </div>

                    <div class="section-economy">
                        <div class="holder-most-read">
                            <p class="heading">الأكثر قراءة</p>

                            <ul class="list-item list-unstyled">
                                <li class="item" ng-repeat="article in data.mostRead">
                                    <h3>
                                        <a ui-sref="app.articleDetails({id : article.id})" class="link-heading" ng-bind="article[currentLang+'title']"></a>
                                    </h3>
                                    <ul class="holder-actions list-unstyled">
                                        <li class="action-item" ng-if="article.date != null"><span class="icon-clock"></span><a ui-sref="app.articleDetails({id : article.id})" ng-bind="article.date"></a></li>
                                        <li class="action-item"><a href="https://www.addthis.com/bookmark.php" ng-mouseover="addthis_open($event, '', 'Article/'+article.id, 'Awalan - '+article.artitle)" ng-mouseleave="addthis_close()" ng-click="addthis_send()"><span class="icon-arrow-left"></span></a></li>
                                        <li class="action-item"><span class="icon-star"></span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-ads-holder">
        <div ng-bind-html="globalData.ads.GoogleAdHomeBottom | htmlSafe"></div>
        <div class="holder-desc">
            <p class="desc"></p>
        </div>
    </div>

    <div class="section-related-articles">
        <div class="container">
            <h2 class="related-articles-heading">مقالات ذات صلة</h2>
            <div class="swiper-articles-holder">
                <div class="swiper-container swiper-related-articles">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="article in data.relatedArticles">
                            <a ui-sref="app.articleDetails({id : article.id})" class="holder-articles">
                                <div class="img-articles-holder @(!String.IsNullOrEmpty(article.videoUrl) ? "holder-video" : "")">
                                    <img ng-src="{{resizeUrl+'1000x130xi/'+article.image}}" alt="{{article[currentLang+'title']}}" class="article-thumbs">
                                </div>
                                <h4 class="related-articles-title" ng-bind="article[currentLang+'title']"></h4>
                            </a>
                            <ul class="published">
                                <li class="published-item" ng-if="article.date != null">
                                    <img class="clock-icon" src="/assets/images/clock.png" alt="">
                                    <a ui-sref="app.articleDetails({id : article.id})">
                                        <span class="published-time" ng-bind="article.date"></span>
                                    </a>
                                </li>
                                <li class="published-item">
                                    <a href="https://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '')" onmouseout="addthis_close()" onclick="return addthis_sendto()"  class="favorite-link">
                                        <img class="share-btn" src="/assets/images/arrow-left.png" alt="">
                                    </a>
                                </li>
                                <!--<li class="published-item">
                                    <a href="javascript:void(0)" class="favorite-link">
                                        <img class="favorite-btn" src="/assets/images/star.png" alt="">
                                    </a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-black"></div>
                    <div class="swiper-button-prev swiper-button-black"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="popup-wrapper popup-image-wrapper">
    <div class="icon-close"></div>
    <div class="holder-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="media in data.article.media">
                    <div class="holder-image">

                        <img ng-if="media.mediaType == 1" ng-src="{{baseurl + 'Content/uploads/Articles/' + media.mediaSrc}}" alt="" class="img-popup">

                        <iframe ng-if="media.mediaType == 2" ng-src="{{media.youtubeLink | trusted}}" allowfullscreen></iframe>
                        <div class="holder-text">
                            <p class="heading" ng-bind="media.caption"></p>
                        </div>
                    </div>
                </div>

                    <input type="hidden" id="picIndex" value="{{picIndex}}" />

                    <input type="hidden" id="videoIndex" value="{{videoIndex}}" />
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-pagination swiper-pagination-white"></div>
        </div>
    </div>
</div>


<div class="popup-wrapper popup-video-wrapper" ng-if="(data.article.videoUrl != null)">
    <div class="icon-close"></div>
    <div class="holder-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                    <!--<div class="swiper-slide">
                            <div class="holder-image">
                                <img src="@(kmsurl + "Content/uploads/Articles/" + item.mediaSrc)" alt="" class="img-popup">
                                <div class="holder-text">
                                    <p class="heading">@item.caption</p>
                                </div>
                            </div>-->

                    <div class="swiper-slide">
                        <div class="holder-image">
                            <iframe ng-src="{{(data.article.youtubeLink) | trusted}}" allowfullscreen></iframe>
                        </div>
                    </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-pagination swiper-pagination-white"></div>
        </div>
    </div>
</div>