<main class="contact">
    <!-- <button class="btn _btn btn-primary direction-toggler" type="button" name="button" style="cursor: pointer; position: fixed; top: 200px; left:0; z-index: 999;">toggle</button> -->

    <div class="section-cta">
        <!-- <div class="container container--custom"> -->
        <div class="holder-cta-content">
            <div class="holder-contact-info">
                <div class="holder-text-border">
                    <h1 class="contact-info-title text-border">اتصل بنا</h1>
                </div>

                <div class="holder-contact-info-list">
                    <div class="holder-contact-info-item" ng-repeat="item in data.entries">
                        <h2 class="contact-info-item-title" ng-bind="item[currentLang+'title']"></h2>
                        <ul class="contact-info-list">
                            <li class="contact-info-item">
                                <a class="contact-info-link" target="_blank" ng-href="{{item.googleMapLatitude != null ? 'https://www.google.com/maps/dir/?api=1&destination='+item.googleMapLatitude+','+item.googleMapLongitude : '')">
                                    <i class="fas fa-map-marker-alt"></i> <div ng-bind-html="item[currentLang+'address'] | trusted"></div>
                                </a>
                            </li>
                            <li class="contact-info-item">
                                <a href="tel:{{item.phone}}" class="contact-info-link--alpha">
                                    <img class="icon-phone"
                                         src="assets/images/icon-phone.png" alt="" style="height:18px"> <span style="direction:ltr;font-family:droidnaskh-regular" ng-bind="item.phone"></span>
                                </a>
                            </li>
                            <li class="contact-info-item" ng-if="item.mobile != null">
                                <a class="contact-info-link">
                                    <i class="fas fa-mobile-alt"></i> <span style="direction:ltr;font-family:droidnaskh-regular" ng-bind="item.mobile"></span>
                                </a>
                            </li>
                            <li class="contact-info-item" ng-if="item.fax != null">
                                <a class="contact-info-link">
                                    <i class="fas fa-fax"></i> <span style="direction:ltr;font-family:droidnaskh-regular" ng-bind="item.fax"></span>
                                </a>
                            </li>
                                <li class="contact-info-item" ng-if="item.email != null">
                                    <a href="mailto:{{item.email}}" class="contact-info-link--alpha">
                                        <i class="fas fa-envelope"></i> {{item.email}}
                                    </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="holder-contact-form">
                <div class="holder-text-border">
                    <h2 class="contact-info-title text-border">ارسلنا</h2>
                </div>
                <div class="form-container">
                <div class="form-holder">
                    <form id="contactForm" class="contact-form" name="contactForm" novalidate>
                        <div class="form-group-list">
                            <div class="form-group">
                                <div class="form-controls">
                                    <select class="form-field field-select" name="contactTitleId" id="title" required>
                                        <option value="" hidden="" selected="selected">اللقب</option>
                                            <option ng-value="item.id" ng-repeat="item in data.contactTitles" ng-bind="item[currentLang+'title']"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-list">
                            <div class="form-group">
                                <div class="form-controls">
                                    <input type="text" class="form-field" name="firstName" id="firstName" placeholder="الاسم الاول"
                                            ng-model="model.firstName" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-controls">
                                    <input type="text" class="form-field" name="lastName" id="lastName" placeholder="الكنية"
                                            ng-model="model.lastName" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-controls">
                                <input type="text" class="form-field" name="email" id="email" placeholder="البريد الإلكتروني"
                                        ng-model="model.email" required form-email />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-controls">
                                <textarea class="form-field textarea-field" id="message" name="message" placeholder="الرسالة" rows="13"
                                            ng-model="model.message" required></textarea>
                            </div>
                        </div>

                        <div class="btn-wrapper">
                            <button class="btn-turquoise submit-btn" type="submit" name="button">إرسال</button>
                            <div class="btn-loader"><img class="loader" src="assets/images/loader.png" /></div>
                        </div>
                    </form>
                </div>
                <div class="form-msg">
                    <p class="success">شكرا لك. لقد تم ارسال رسالتك.</p>
                </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</main>