<div class="container">
    <section class="section section--solid section--centered section--long-secondary section--main section--message">

        <div class="section__body">
            <div class="shell">
                <div class="section__inner">
                    <a ui-sref="app.home" class="logo">
                        <svg class="ico-logo-pink">
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>

                    <h3>THANK YOU</h3>

                    <p>We will get back to you soon</p>
                </div><!-- /.section__inner -->
            </div><!-- /.shell -->
        </div><!-- /.section__body -->
    </section><!-- /.section section-/-restaurants -->
</div><!-- /.container -->